apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- https://github.com/fluxcd/kustomize-controller/archive/v0.7.3.zip//kustomize-controller-0.7.3/config/crd
- https://github.com/fluxcd/kustomize-controller/archive/v0.7.3.zip//kustomize-controller-0.7.3/config/manager
- account.yaml
patchesJson6902:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: kustomize-controller
  path: patch.yaml
