## Azure
# export TF_VAR_azuredevops_org=
# export TF_VAR_azuredevops_pat=
# export TF_VAR_azure_location=
## Set the following only when authenticating using Service Principal (suited
## for CI environment).
# export ARM_CLIENT_ID=
# export ARM_CLIENT_SECRET=
# export ARM_SUBSCRIPTION_ID=
# export ARM_TENANT_ID=

## GCP
# export TF_VAR_gcp_project_id=
# export TF_VAR_gcp_zone=
# export TF_VAR_gcp_region=
# export TF_VAR_gcp_keyring=
# export TF_VAR_gcp_crypto_key=
## Email address of a GCP user used for git repository cloning over ssh.
# export TF_VAR_gcp_email=
## Set the following only when using service account.
## Provide absolute path to the service account JSON key file.
# export GOOGLE_APPLICATION_CREDENTIALS=

## Common variables
# export TF_VAR_tags='{"environment"="dev", "createdat"='"\"$(date -u +x%Y-%m-%d_%Hh%Mm%Ss)\""'}'
## These are not terraform variables
## but they are needed for the bootstrap tests
# export GITREPO_SSH_PATH=
# export GITREPO_SSH_PUB_PATH=
