## Azure
export TF_VAR_azuredevops_org=
export TF_VAR_azuredevops_pat=
export TF_VAR_azure_location=
## These are not terraform variables
## but they are needed for the azure tests
export AZUREDEVOPS_SSH=
export AZUREDEVOPS_SSH_PUB=
## Set the following only when authenticating using Service Principal (suited
## for CI environment).
# export ARM_CLIENT_ID=
# export ARM_CLIENT_SECRET=
# export ARM_SUBSCRIPTION_ID=
# export ARM_TENANT_ID=

## Common variables
# export TF_VAR_tags='{"environment"="dev", "createdat"='"\"$(date -u +x%Y-%m-%d_%Hh%Mm%Ss)\""'}'
