pkgbase = flux-bin
	pkgdesc = Open and extensible continuous delivery solution for Kubernetes
	pkgver = ${PKGVER}
	pkgrel = ${PKGREL}
	url = https://fluxcd.io/
	arch = x86_64
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = APACHE
	source_x86_64 = flux-bin-${PKGVER}.tar.gz::https://github.com/fluxcd/flux2/releases/download/v1/flux_${PKGVER}_linux_amd64.tar.gz
	source_armv6h = flux-bin-${PKGVER}.tar.gz::https://github.com/fluxcd/flux2/releases/download/v1/flux_${PKGVER}_linux_arm.tar.gz
	source_armv7h = flux-bin-${PKGVER}.tar.gz::https://github.com/fluxcd/flux2/releases/download/v1/flux_${PKGVER}_linux_arm.tar.gz
	source_aarch64 = flux-bin-${PKGVER}.tar.gz::https://github.com/fluxcd/flux2/releases/download/v1/flux_${PKGVER}_linux_arm64.tar.gz

pkgname = flux-bin
