@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.md-logo {
    width: 40px;
    height: 40px;
    padding-bottom: 2px;
    padding-top: 2px;
}
.md-logo img {
    width: 40px;
    height: 40px;
}

.md-header, .md-footer-nav {
    background-image: linear-gradient(45deg, rgb(0, 150, 225) 0%, rgb(27, 141, 226) 24%, rgb(42, 125, 227) 53%, rgb(53, 112, 227) 78%, rgb(53, 112, 227) 100%);
}

.md-header-nav__title {
    font-size: .85rem;
}

.check-bullet {
  color:#07bfa5;
  background-color: white;
  margin-left:-22px;
}

/* Progress bar styling */

.progress-label {
    position: absolute;
    text-align: center;
    font-weight: 700;
    width: 100%;
    /* remove original styling for thin styling
    margin: 0 ! important; */
    margin-top: -0.4rem ! important;
    line-height: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .progress-bar {
    /*remove original styling for thin styling
    height: 1.2rem; */
    height: 0.4rem;
    float: left;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2) 10px,
        rgba(255, 255, 255, 0.3) 10px,
        rgba(255, 255, 255, 0.3) 20px
      ) #2979ff;
      border-radius: 2px;
  }
  
  .progress {
    display: block;
    width: 100%;
    /* remove original styling for thin styling
    margin: 0.5rem 0;
    height: 1.2rem; */
    margin-top: 0.9rem;
    height: 0.4rem;
    background-color: #eeeeee;
    position: relative;
    border-radius: 2px;
  }

  .progress-100plus .progress-bar {
    background-color: #00c853;
  }
  
  .progress-80plus .progress-bar {
    background-color: #64dd17;
  }
  
  .progress-60plus .progress-bar {
    background-color: #fbc02d;
  }
  
  .progress-40plus .progress-bar {
    background-color: #ff9100;
  }
  
  .progress-20plus .progress-bar {
    background-color: #ff5252;
  }
  
  .progress-0plus .progress-bar {
    background-color: #ff1744;
  }